body {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    max-width: 2000px;
}

ul {
    background: maroon;
    padding: 15px 0;
    margin: 0;
    text-align: right;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 5rem;
    font-family: "Share", cursive;
    font-weight: bold;
}

li {
    list-style: none;
    display: inline;
    padding: 0px 50px;
}

.nav {
    text-decoration: none;
    color: white;
}

.nav:hover {
    color: rgb(223, 183, 183);
    transition: 0.5s;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    height: 70vw;
}

.description {
    padding: 20px;
}

#description1, #description3 {
    grid-column: 1/3;
    background: rgb(235, 218, 201);
}


#image1 {
    background: url('images/sumo.jpeg');
    background-size: cover;
    background-position: center;
}

#image2 {
    background: url('images/tokyoanime.jpg');
    background-size: cover;
    background-position: center;
}

#image3 {
    background: url('images/kimono.png');
    background-size: cover;
    background-position: top;
}

#description2 {
    grid-column: 2/4;
}

h2 {
    font-size: 2rem;
    color: #f05459;
}


p {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

@media all and (max-width: 1000px) and (min-width: 700px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }

    #description1, #description3, #image2 {
        grid-column: 1/2;
    }

}

@media all and (max-width: 700px) {
    .content {
        display: block;
    }

    ul {
        text-align: center;
    }

    li {
        padding: 0px 20px;
    }

    .description{
        margin: 20px 0;
    }

    #description1 {
        background: url('images/sumo.jpeg');
        background-size: cover;
        background-position: center;
    }

    #description2 {
        background: url('images/tokyoanime.jpg');
        background-size: cover;
        background-position: center;
    }

    #description3 {
        background: url('images/kimono.png');
        background-size: cover;
        background-position: top;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        background: rgb(224, 219, 219, 0.85);
        padding: 10px;
        font-size: 1em;
    }
     h2 {
        color: #f17a7e;
        text-shadow: 3px 3px 4px #000000;
     }
  }
